body {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
.slide-wrapper {
    overflow: hidden;
}
.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}
.slide li {
    width: 80vw;
    flex-shrink: 0;
    max-width: 800px;
    margin: 0 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,1);

    opacity: .8;
    transform: scale(.8);
    transition: .5s;
}

.slide li.ativo {
    opacity: 1;
    transform: scale(1);
}

[data-control="slide"] {
    display: flex;
    justify-content: center;
}

[data-control="slide"] li a{
    display: block;
    height: 12px;
    width: 12px;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;    
    background-color: #fb5;
    border-radius: 50%;
    margin: 20px 5px;

}

[data-control="slide"] li.ativo a, 
[data-control="slide"] li a:hover {
    background-color: #e54;
}
